<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="css/general.css">
</head>
<body>
<table>
    <thead><tr><td>Name</td><td>Surname</td><td>Age</td><td>Country</td></tr></thead>
    <tr th:each="player:${players}">
        <td th:text="${player.name}"></td>
        <td th:text="${player.surname}"></td>
        <td th:text="${player.age}"></td>
        <td th:text="${player.nationality.country}"></td>

    </tr>
</table>
</body>
</html>